<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]='registerForm' (ngSubmit)='registerUser()'  class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input   formControlName='username'  matInput placeholder="Username"  required>
            <mat-error *ngIf='username.touched && username.errors' class="errorMessage" style="font-size: 10px; color: #f44336;">
              <span *ngIf="username.hasError('required')" >username is required!</span>
              <span *ngIf="username.hasError('maxlength')" >Only 10 characters allowed</span>
              <span *ngIf="username.hasError('minlength')" >Username must have atleast 4 characters</span>
          </mat-error>
          </mat-form-field>
  

          <mat-form-field class="example-full-width">
            <mat-label>Enter your email</mat-label>
              <input formControlName='email'  matInput placeholder="pat@example.com"  required>
              <mat-error *ngIf='email.touched && email.errors'  class="errorMessage" style="font-size: 10px;color: #f44336;">
                <span *ngIf="email.hasError('required')" >Email is required!</span>
                <span *ngIf="email.hasError('email')" >Please provide a valid email</span>
            </mat-error>
            </mat-form-field>
  
    

          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
              <input  formControlName='password'  matInput [type]="hide ? 'password' : 'text'"  required>
              <mat-error *ngIf='password.touched && password.errors'  class="errorMessage" style="font-size: 10px; color: #f44336;">
                <span *ngIf="password.hasError('required')" >Password is required!</span>
                <span *ngIf="password.hasError('minlength')" >Password must have atleast 5 characters</span>
            </mat-error>

              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
  
          <section class="example-section mt-3">
            <mat-checkbox  class="example-margin" required>Send me email promotions about musivibe</mat-checkbox>
          </section>
        </mat-card-content>
  
        <button type="submit" [disabled]='registerForm.invalid' mat-raised-button style="background: #e91e63; color: #fff;" class="btn-block">Register</button>
      </form>
      
      <div class="mt-3">
        Already have an account?<a routerLink="/login">Login</a>
      </div>
      
    </mat-card>
  </div>
