<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input  [(ngModel)]='register.username' matInput placeholder="Username" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{usernameErrorMessage()}}</mat-error>
          </mat-form-field>
  

          <mat-form-field class="example-full-width">
            <mat-label>Enter your email</mat-label>
              <input [(ngModel)]='register.email' matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{emailErrorMessage()}}</mat-error>
            </mat-form-field>
  
    

          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
              <input [(ngModel)]='register.password' matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
              <mat-error *ngIf="password.invalid">{{passwordErrorMessage()}}</mat-error>

              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
  
          <section class="example-section">
            <mat-checkbox  class="example-margin" required>Send me email promotions about musivibe</mat-checkbox>
          </section>
        </mat-card-content>
  
        <button (click)='registerUser()' mat-raised-button style="background: #e91e63; color: #fff;" class="btn-block">Register</button>
      </form>
      
      <div class="mt-3">
        Already have an account?<a routerLink="/login">Login</a>
      </div>
      
    </mat-card>
  </div>