
<footer class="site-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="fs-1">MUSIVIBE</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quod nesciunt eaque suscipit, molestiae possimus fugit dolor voluptas provident rem sint, aliquam qui ad, modi repellendus? Id mollitia doloremque sunt dignissimos nihil aut a fuga voluptate, soluta corporis cumque officia unde iure quia error molestias dolorum eum ut! Commodi voluptas rem incidunt magni odit praesentium esse aliquid mollitia, omnis quis excepturi quisquam provident reprehenderit quaerat earum alias ut repellendus soluta quidem explicabo veritatis doloribus delectus deleniti obcaecati! Repellat aspernatur labore ex quibusdam, quam libero perspiciatis eum pariatur debitis veritatis esse, similique vel nisi minus? Earum ullam explicabo laboriosam sequi mollitia!</p>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Explore</h6>
          <ul class="footer-links">
            <li><a href="#">All Channels</a></li>
            <li><a href="#">Top Tracks</a></li>
            <li><a href="#">Most Popular</a></li>
            <li><a href="#">New Tracks</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Developers</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#">Musivibe</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>

</footer>


