
<footer class="site-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="fs-1">MUSIVIBE</h6>
          <p class="text-justify"> An application where users can view their playlists and get recommendations of tracks
              based on the type of music they like.Millions of songs in the palm of your hand, no storage woes and you don't even have to pay. </p>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Explore</h6>
          <ul class="footer-links">
            <li><a href="/home">All Channels</a></li>
            <li><a href="/home">Top Tracks</a></li>
            <li><a href="/home">Most Popular</a></li>
            <li><a href="/home">New Tracks</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/home">Developers</a></li>
            <li><a href="/home">Terms and Conditions</a></li>
            <li><a href="/home">Contribute</a></li>
            <li><a href="/home">Privacy Policy</a></li>
            <li><a href="/home">Cookies</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="/home">Musivibe</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="/home"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="/home"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="/home"><i class="fab fa-instagram"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>

</footer>


