
<mat-toolbar >

    <div>
        <a class="nav_logo" routerLink="#"> <span style="font-size: 40px;"><i class="fab fa-maxcdn"></i></span>usivibe</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" style="margin-right: 100px;" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/about">About Us</a>
            </li>
            <li>
                <a routerLink="/contact">Contacts</a>
            </li>
            <a class="v1" href="/"> </a>
            <span  *ngIf="currentUser" class="text-white fs-2"> 
               <a href=""> <i class="fas fa-user-circle"></i></a>
               </span> 
    <li *ngIf="currentUser">
            <mat-select style="color: white;" [(value)]="selected">
              <mat-option style="background: navy;" ><a routerLink="/contact">Profile</a> </mat-option>
              <mat-option style="background: navy;" (click)="logout()"  value="option2"> <a routerLink="/login">logout</a></mat-option>
            </mat-select>
    </li>
   
            <li  *ngIf="currentUser == null">
                <a routerLink="/signup">Sign up</a>
            </li>
            <li   *ngIf="currentUser == null">
                <a routerLink="/login">Log in</a>

            </li>

        </ul>
    </div>
 

    <div fxHide.gt-xs fxLayoutAlign="end" fxFlex >
      <button  mat-icon-button (click)="onToggleSidenav()">
          <mat-icon class="text-white">menu</mat-icon>
      </button>
  </div>
  </mat-toolbar>
  