


<div class="container-fluid" style="background-image: url(https://images.unsplash.com/photo-1614149162883-504ce4d13909?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);background-position: center;background-repeat: no-repeat;background-size: cover;opacity: 2;"> 
  <app-artist class="" style="padding-bottom: 20%;"></app-artist> 
  <div class="row" style="padding: 2%;">  
    <div class="col-sm-6" style="padding:1%;">
      <div class="card" style="border-radius: 10px;background-color: rgb(3, 3, 65);color:white;">
        <div class="card-body" style="text-align: center;" >
          <h5 class="card-title" style="font-size:xx-large;">Top Songs <span><i class="fa fa-music" aria-hidden="true"></i></span></h5>
          <p class="card-text" style="font-size:larger;">Music comes with greatness.</p>
          <a href="/home#tracks" class="btn" style="background: linear-gradient(to right bottom,black,rgb(150, 16, 110));color:white;">See Top Songs</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="padding: 1%;">
      <div class="card" style="border-radius: 10px;background-color:rgb(3, 3, 65); color:white;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size:xx-large;">Just for you <span><i class="fa fa-music" aria-hidden="true"></i></span></h5>
          <p class="card-text" style="font-size:larger;">Keep calm here is recommendation for you.</p>
          <a href="/home/#tracks" class="btn" style="background: linear-gradient(to right bottom,black,rgb(150, 16, 110));color:white;">See recommended</a>          
        </div>
      </div>
      </div> 
      <app-genre></app-genre>         
      <app-track></app-track>
    </div>
    <app-footer></app-footer>
    </div>
    

