<div class="container-fluid">
    <div class="ui horizontal divider">
        <i class="tag icon"></i>

        ABOUT MUSIVIBE
      </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 btns">
    <div class="col">
        <i class="fas fa-laptop mx-5 px-lg-5"></i>
        <h2>What we do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veritatis distinctio
           tempore perferendis consequuntur quo in quis voluptas vel quod, quos provident rerum quam, 
           eius eos obcaecati nemo praesentium eligendi!</p>
           <div class="text-center">
            <a href="#musivibe.com"><span></span>READ MORE<i class="fas fa-arrow-right mx-2"></i></a>
        </div>

    </div>

    <div class="col">
        <i class="fas fa-users mx-5 px-lg-5"></i>
        <h2>Who we are</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi deleniti commodi aspernatur inventore? Libero, 
            tempore nesciunt. Adipisci exercitationem animi dicta qui.
            Excepturi ipsa qui, ducimus facere sequi sed incidunt quam.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>READ MORE<i class="fas fa-arrow-right mx-2"></i></a>
            </div>        </div>
    <div class="col">
        <i class="fas fa-comments mx-5 px-lg-5"></i>
        <h2>Get involved</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Esse veritatis aut velit distinctio qui, 
           magni voluptatem iure nam sed soluta eum culpa, itaque reiciendis.
            Maxime, provident totam. Maiores, harum reprehenderit.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>READ MORE<i class="fas fa-arrow-right mx-2"></i></a>
            </div>   
         </div>
    
    </div>
    </div>

<footer class="site-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="fs-1">MUSIVIBE</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quod nesciunt eaque suscipit, molestiae possimus fugit dolor voluptas provident rem sint, aliquam qui ad, modi repellendus? Id mollitia doloremque sunt dignissimos nihil aut a fuga voluptate, soluta corporis cumque officia unde iure quia error molestias dolorum eum ut! Commodi voluptas rem incidunt magni odit praesentium esse aliquid mollitia, omnis quis excepturi quisquam provident reprehenderit quaerat earum alias ut repellendus soluta quidem explicabo veritatis doloribus delectus deleniti obcaecati! Repellat aspernatur labore ex quibusdam, quam libero perspiciatis eum pariatur debitis veritatis esse, similique vel nisi minus? Earum ullam explicabo laboriosam sequi mollitia!</p>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Explore</h6>
          <ul class="footer-links">
            <li><a href="#">All Channels</a></li>
            <li><a href="#">Top Tracks</a></li>
            <li><a href="#">Most Popular</a></li>
            <li><a href="#">New Tracks</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 site_links">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Developers</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#">Musivibe</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>