<div class="container-fluid">
    <div class="ui horizontal divider">
        <i class="tag icon"></i>

        ABOUT MUSIVIBE
      </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 btns">
    <div class="col">
        <div class="text-center">
            <i class="fas fa-laptop"></i>
        </div>
        <h2>What we do</h2>
        <p class="text-center">An application where users can view their playlists and get recommendations of tracks  based on the type of music they like.</p>
           <div class="text-center">
            <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
        </div>

    </div>

    <div class="col">
        <div class="text-center">
            <i class="fas fa-users"></i>
        </div>
        <h2>Who we are</h2>
        <p class="text-center">A team dedicated to reducing the gap between music lovers and their passion.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
            </div>        </div>
    <div class="col">
        <div class="text-center">
            <i class="fas fa-comments"></i>

        </div>
        <h2>Get involved</h2>
       <p class="text-center">Follow and interact with us on our socials as well as our email.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
            </div>   
         </div>
    
    </div>
    </div>

    <div class="ui horizontal divider">
    <i class="fas fa-smile"></i>
    MEET THE TEAM
      </div>

      <div class="container text-center">
          <div class="d-lg-flex justify-content-lg-evenly">
              <div class="images">
                <img src="https://media.istockphoto.com/photos/icon-of-a-businessman-avatar-or-profile-pic-picture-id474001892?k=20&m=474001892&s=612x612&w=0&h=qmP2kcVlCgAXoUUrjTNoIgVoj-T4wTrMXgaU0NEy4Rg=" style="border-radius: 50%;"  width="300" alt="">
                <p>Caleb Kimutai</p>
              </div>
 
              <div class="images">
                <img src="https://media.istockphoto.com/photos/icon-of-a-businessman-avatar-or-profile-pic-picture-id474001892?k=20&m=474001892&s=612x612&w=0&h=qmP2kcVlCgAXoUUrjTNoIgVoj-T4wTrMXgaU0NEy4Rg=" style="border-radius: 50%;"  width="300" alt="">
                <p>Nick Otieno</p>
              </div>          
              <div class="images">
                <img src="https://media.istockphoto.com/photos/icon-of-a-businessman-avatar-or-profile-pic-picture-id474001892?k=20&m=474001892&s=612x612&w=0&h=qmP2kcVlCgAXoUUrjTNoIgVoj-T4wTrMXgaU0NEy4Rg=" style="border-radius: 50%;"  width="300" alt="">
                <p>Louis Gacho</p>
              </div>     
                 </div>

          <div class="d-lg-flex justify-content-lg-evenly">
            <div class="images">
                <img src="https://media.istockphoto.com/photos/female-avatar-profile-picture-silhouette-light-shadow-picture-id499601028?k=20&m=499601028&s=612x612&w=0&h=sGPTDAO2AoajT59jtz084pRra4NIkbrObgjbay1ll0Q=" style="border-radius: 50%;"  width="300" alt="">
                <p>Floice Nyota</p>
              </div>
              <div class="images">
                <img src="https://media.istockphoto.com/photos/icon-of-a-businessman-avatar-or-profile-pic-picture-id474001892?k=20&m=474001892&s=612x612&w=0&h=qmP2kcVlCgAXoUUrjTNoIgVoj-T4wTrMXgaU0NEy4Rg=" style="border-radius: 50%;"  width="300" alt="">
                <p>Enock Kipronoh</p>
              </div>
            </div>
      </div>

      <app-footer></app-footer>


