<div class="container-fluid">
    <div class="ui horizontal divider">
        <i class="tag icon"></i>

        ABOUT MUSIVIBE
      </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 btns">
    <div class="col">
        <div class="text-center">
            <i class="fas fa-laptop"></i>
        </div>
        <h2>What we do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veritatis distinctio
           tempore perferendis consequuntur quo in quis voluptas vel quod, quos provident rerum quam, 
           eius eos obcaecati nemo praesentium eligendi!</p>
           <div class="text-center">
            <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
        </div>

    </div>

    <div class="col">
        <div class="text-center">
            <i class="fas fa-users"></i>
        </div>
        <h2>Who we are</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi deleniti commodi aspernatur inventore? Libero, 
            tempore nesciunt. Adipisci exercitationem animi dicta qui.
            Excepturi ipsa qui, ducimus facere sequi sed incidunt quam.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
            </div>        </div>
    <div class="col">
        <div class="text-center">
            <i class="fas fa-comments"></i>

        </div>
        <h2>Get involved</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Esse veritatis aut velit distinctio qui, 
           magni voluptatem iure nam sed soluta eum culpa, itaque reiciendis.
            Maxime, provident totam. Maiores, harum reprehenderit.</p>
            <div class="text-center">
                <a href="#musivibe.com"><span></span>Read more<i class="fas fa-arrow-right mx-1"></i></a>
            </div>   
         </div>
    
    </div>
    </div>

    <div class="ui horizontal divider">
    <i class="fas fa-smile"></i>
    MEET THE TEAM
      </div>
      <app-footer></app-footer>

