<div class="container" style="padding: 1%;">
    <div class="card-body" *ngIf="artist">
        <h1 style="color: white;">Editors Top Artist</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="{{artist.picture_medium}}" alt="" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-8" style="background-color:#E91E63">
                <h1 class="display-3" ><a routerLink="/artist/{{artist.id}}" style="color: white;">{{artist.name}}</a></h1>
                <p style="font-size:x-large">Fans : {{artist.nb_fan}} </p>
                <p style="font-size:x-large">Albums : {{artist.nb_album}} </p>
                <p style="font-size:large;background-color: white;width:100px"> 
                   <a href="{{artist.link}}" >Discography</a>
                </p>
            </div>
        </div>
    </div>
</div>