<div class="container">
    <h1 class="text-center" style="color:white;font-size:xx-large">Search for your Music</h1>
    <p class="text-center" style="color: aliceblue;font-size:large">Musivibe has recommendations for you and you can see playlist. <span><i class="fa fa-music" aria-hidden="true"></i></span></p>
</div>
<div class="container text-center">
<div class="ui left icon action input">
    <i class="search icon"></i>
    <input type="search" placeholder="Search Music..." style="color:#E91E63;font-size: medium;">
    <div class="ui blue submit button" style="background-color:#E91E63">Search</div>
  </div>
</div>
