<div class="container">
    <h1 class="text-center" style="color:white;font-size:xx-large">Search for your Music</h1>
    <p class="text-center" style="color: aliceblue;font-size:x-large">Musivibe has recommendations for you and you can see playlist</p>
    <form class="d-flex">
        <input class="form-control me-2" type="search"  placeholder="Search Music..." aria-label="Search">
        <button class="btn btn-outline-success" style="background-color: rgb(173, 28, 125);color: white;" type="submit">Search</button>
      </form>
</div>
